main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -5;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
