#logo {
  font-size: 3rem;
  text-align: center;
}

#theme {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 5rem;
  z-index: 99;
  color: var(--background-dark);
  background-color: var(--background-light);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
}

#sun {
  display: visible;
}

#moon {
  display: none;
}

#bnt-menu {
  width: 55px;
  height: 55px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 6rem;
  z-index: 99;
  color: var(--background-light);
  transition: transform 0.2s;
}

#bnt-menu.on {
  transform: rotate(60deg);
}

#btn-record {
  width: 45px;
  height: 45px;
  padding: 5px;
  font-size: 14pt;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: red;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#record-counter {
  width: 150px;
  height: 45px;
  padding: 5px;
  font-size: 14pt;
  text-align: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: var(--background-light);
  background-color: var(--background-dark);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#image-download {
  width: 70px;
  height: 45px;
  padding: 5px;
  font-size: 14pt;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  color: var(--background-light);
  background-color: var(--background-dark);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
