#logo {
  display: none;
}

@media screen and (max-width: 425px) {
  #settings-panel {
    padding: 50px;
  }

  #letters-set {
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #letters-set input {
    width: 50px;
    height: 50px;
  }

  #letters-set p,
  #density-option p {
    display: none;
    width: 100px;
    margin-right: 0;
  }
}
