#settings-menu {
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

#settings-panel {
  overflow: hidden;
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 100px;
}

.option {
  display: flex;
  align-items: center;
}

.option input {
  cursor: pointer;
}

.option p {
  margin-left: 20px;
  font-size: 1.8rem;
  user-select: none;
  text-align: center;
  width: 15rem;
  height: 100%;
  display: flex;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-trans-dark);
}

.option span {
  font-size: 22pt;
  padding: 10px;
  user-select: none;
}

.option input[type="checkbox"],
.option input[type="color"] {
  width: 50px;
  height: 50px;
  border: none;
}
