#letters-set {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#letters-set input {
  width: 50px;
  height: 50px;
}

#letters-set p {
  margin-left: 0;
}

#letters-set p,
#density-option p,
#invert-option p {
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#reset-option {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#reset {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: var(--bg-trans-dark);
  transition: opacity 0.2s;
}

#reset:hover {
  opacity: 0.8;
}
