/* Theme button */
#theme.on {
  color: var(--background-light);
  background-color: var(--background-dark);
}

#theme.on #sun {
  display: none;
}

#theme.on #moon {
  display: block;
}

#btn-mode.on #img-icon {
  display: none;
}

#btn-mode.on #cam-icon {
  display: block;
}

/* Whole document */
body.on {
  color: var(--background-dark);
  background-color: var(--background-light);
}

body.on a,
body.on #bnt-menu {
  color: var(--background-dark);
}

body.on .option p,
body.on .option #reset {
  color: var(--background-dark);
  background-color: var(--bg-trans-light);
}
